{% extends 'base.html.twig' %}

{% block title %}Create Quiz{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="mb-4">
                <h1 class="mb-2">
                    <i class="fas fa-pencil-alt"></i> Create New Quiz
                </h1>
                <p class="text-muted">
                    <i class="fas fa-info-circle"></i> Your quiz will be submitted for admin approval before students can take it.
                </p>
            </div>

            {{ include('quiz/_form.html.twig', {
                form: form,
                button_label: 'Create Quiz',
                cancel_url: path('instructor_dashboard')
            }) }}
        </div>
    </div>
</div>
{% endblock %}
