<h1>Information sur votre demande d'adhésion</h1>
<p>Bonjour {{ user.fullName }},</p>
<p>Nous vous informons que votre demande d'adhésion au club <strong>{{ club.name }}</strong> a été refusée.</p>
<p>N'hésitez pas à consulter les autres clubs disponibles sur Eduverse.</p>
<p>Cordialement,<br>L'équipe Eduverse</p>
